body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #dacdfb;
}
.container {
  max-width: 1024px;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
display-4 {
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 1;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #a042cc;
  border-radius: 0;
  border-bottom: 10px solid #ba6fee;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch9-aum-06_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=189eb94a4e0b0448c4b1b7a076cc4a42);
  background-position: center;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #cf52e2;
  color: rgb(82, 82, 82);
  padding-top: 27px;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: end;
  font-weight: bolder;
}

.past {
  background-color: #d3d3d3;
  color: white;
  border-radius: 15px;
}

.present {
  background-color: #ff6961;
  color: white;
  border-radius: 15px;
}

.future {
  background-color: #77dd77;
  color: white;
  border-radius: 15px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #5a229f;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
